.size1{
    width: 1500px;
    height: 6400px;
}
.block{
    width: 1500px;
    height: 70px;
    background-color: #ffe596;
    position: absolute;
}
.logo{
    width: 292px;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: -50px;
}
.block1{
    width: 500px;
    height: 500px;
    background-color: #ffbf00;
    position: absolute;
}
.img-1{
    width: 500px;
    height: 651px;
    position: absolute;
    top: 100px;
    left: 100px;
    user-select: none;
}
.main-text{
    position: absolute;
    color: black;
    font-size: 35px;
    padding-right: 100px;
    top: 200px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    left: 700px;
    user-select: none;
}
.t000{
    font-size: 25px;
    padding-right: 100px;
    line-height: 40px;
    user-select: none;
}
.line{
    border: 2px solid black;
    width: 610px;
}
.block2{
    width: 1500px;
    height: 400px;
    background-color: #ffbf00;
    margin-top: 900px;
}
.img-2{
    width: 1500px;
    height: 1000px;
}
.course-text{
    color: white;
    font-size: 54px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    top: -1270px;
    position: relative;
    user-select: none;
}
.item{
    width: 400px;
    height: 400px;

}
.item1{
    width: 400px;
    height: 400px;
}
.item2{
    width: 400px;
    height: 400px;
}
.courses1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    margin-left: 30px;
    margin-top: -1000px;
}
.c1111{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
    margin-left: -60px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}
.tt11{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin-left: -60px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    user-select: none;

}
.main55{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 35px;
    margin-right: 20px;
    user-select: none;
}
.main1{
    color: black;
    text-decoration: none;
    font-size: 21px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: default;
    user-select: none;
}
.text-price{
    color: #ffbf00;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    gap: 250px;
    justify-content: center;
    margin-left: 20px;
    user-select: none;
}
.price-of-courses{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-left: -40px;
    user-select: none;

}
.price{
    color: #ffe596;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 220px;
    padding-right: 40px;
}
.price-of-button{
    width: 150px;
    height: 50px;
    background-color: #ffe596;
    border: 1px solid #ffe596;
    border-radius: 21px;
    color: white;
    user-select: none;
}
.price-of-button:hover{
    transition-property: background-color;
    background-color: #f7d87b;
    transform: scale(1.2);
}
.caption011{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    user-select: none;
}
.img-class{
    width: 475px;
    height: 371px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 50px;
    margin-top: 89px;
    user-select: none;
}
.img-class:hover{
    transition-duration: 0.7s;
    transform: scale(1.04);
}
.sculptor-text{
    font-size: 34px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin-top: -360px;
    margin-left: 380px;
    user-select: none;
}
.sculptor-text01{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding-left: 640px;
    padding-right: 170px;
    line-height: 23px;
    user-select: none;
}
.line01{
    width: 720px;
    border: 2px solid black;
    margin-left: 640px;
}
.img-class01{
    width: 475px;
    height: 371px;
    margin-left: 950px;
    margin-top: 123px;
    user-select: none;
}
.img-class01:hover{
    transition-duration: 0.7s;
    transform: scale(1.04);
}
.singer-text{
    font-size: 34px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin-top: -360px;
    margin-left: -500px;
    user-select: none;
}
.singer-text01{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding-left: 170px;
    padding-right: 640px;
    line-height: 23px;
    user-select: none;
}
.line02{
    width: 670px;
    border: 2px solid black;
    margin-right: 600px;
    margin-left: 170px;
}
.course-for-kids{
    font-size: 34px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-left: 80px;
    user-select: none;
}
.offering-for-kids{
    color: #ffbf00;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding-left: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;

}
.children-photos{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 40px;
    margin-top: 156px;
}

.child-artist{
    width: 418px;
    height: 418px;
}
.child-artist:hover{
    transition-property: border-radius;
    border-radius: 20px;
    transform: translateX(-19px);
}
.children-text{
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}
.price-of-courses-for-kids{
    display: flex;
    justify-content: space-evenly;
    color: #ffbf00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    gap: 50px;
    user-select: none;
}
.prc01{
    color: #f5a300;
}
.prc01:hover{
    transition-property: color;
    transform: scale(2);
    color: #c48200;
}
.blockyw{
    width: 100%;
    height: 760px;
    background-color: #ffe596;
    margin-top: -690px;
    border-radius: 15px;
}
.buttons-for-kids{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 90px;
    margin-top: 50px;
}
.button-appearance{
    width: 174px;
    height: 55px;
    background-color: white;
    border-radius: 27px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border: 2px solid white;
    user-select: none;
}
.button-appearance:hover{
    transition-property: background-color border;
    background-color:#ffbf00;
    border: #ffbf00;
    transform: rotate(360deg);
    transition-duration: 0.8s;
}
.contacts01{
    text-align: center;
    font-size: 54px;
    margin-top: 216px;
    user-select: none;
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 70px;
}
.send-btn-click{
    width: 200px;
    height: 70px;
    margin: auto;
    border-radius: 25px;
    background-color: #ffe596;
    border: #ffe596;
    font-size: 20px;
}
.send-btn-click:hover{
    transition-property: background-color;
    background-color: #ffbf00;
    transition-duration: 0,8s;
    transform: scale(1.05);
}
.correct_name_field,.correct_surname_field,.correct_email_field,.correct_password_field,.correct_phone_nuumber_field{
    height: 30px;
    border-radius: 21px;
}
.correct_date_field{
    height: 30px;
    border-radius: 21px;
    width: 180px;
}
.correct_name,.correct_surname,.correct_email,.correct_password,.correct_phone_number,.correct_day{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}
.finish{
    width: 100%;
    height: 304px;
    background-color: #ffbf00;
    margin-top: 230px;
    border-radius: 35px;
}
.finish1{
    color: white;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 53px;
    cursor: default;
    user-select: none;
}
.logo-footer{
    width: 110px;
    height: 30px;
    display: flex;
    align-items: end;
    margin-top: 80px;
}